.App {
  text-align: center;
  background-color: #121212;
  color: aliceblue;
}

.videos {
  width: 1000px; /* Set your desired width */
  height: auto; /* Keeps the aspect ratio */
}

@media (max-width: 768px) { /* Adjusts for tablets and smaller screens */
  .videos {
      max-width: 400px; /* Smaller max width on medium screens */
  }
}

@media (max-width: 480px) { /* Adjusts for mobile devices */
  .videos {
      max-width: 300px; /* Smaller max width on small screens */
  }
}